body {
    margin: 0 auto;
    padding: 0;
}

.top-border {
    border: 3px solid rgb(47, 47, 64);
    width: 90%;
    margin: 20px 0 2px 14px;
}

.bottom-border {
    border: 1px solid rgb(47, 47, 64);
    width: 91%;
    margin: 0 0 20px 14px;
}

fieldset {
    border: 0px;
  
}

form {
    width: 100%;
    resize: both;
    overflow: auto; 
}

.heading {
    text-align: center;
    width: 100%;
      
}

.heading h1 {
    font-size: 1.5em;
    display: block;
    width: 100%;
    background: rgb(47, 47, 64);
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

.heading h2 {
    color: rgb(47, 47, 64);
}

.heading p {
    color: rgb(184, 182, 182);  
}
input::placeholder {
    text-align: right;
    padding-right: 10px;
}

#full_name,
#email_address,
#phone_number,
#street_address,
#city,
#state,
#zip_code,
#other {
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin: 10px 0 10px;
}

#other {
    height: 100px;
}

#zip_code {
    width: 80%;
    margin-right: 70px;
}



.sign_up {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: #3acec2;
    border-radius: 4px;
    border: none;
    color: white;
}

.copyright {
    text-align: center;
    color: rgb(184, 182, 182);
}

legend {
    color: rgb(47, 47, 64);
    font-size: 1.5em;
    font-weight: bold;

}

.newsletter {
    border-top: 2px solid rgb(47, 47, 64);
    width: 100%;
    padding-top: 20px;
}

/*=================================================================
            MEDIA QUERIES
===================================================================*/

@media(min-width: 768px) {

    form {
       width: 70%;
       margin: 0 auto;
    }

    .top-border {
        border: 3px solid rgb(47, 47, 64);
        width: 99%;
        margin: 20px 0 2px 0;
    }

    .bottom-border {
        border: 1px solid rgb(47, 47, 64);
        width: 100%;
        margin: 2px 0 20px 0;
    }

    .contact {
        margin: 20px 0;
    }

    #full_name {
        width: 75%;
        margin-left: 50px;
    }

    #email_address {
        width: 75%;
        margin-left: 20px;
    }

    #phone_number {
        width: 75%;
        margin-left: 18px;
    }

    #street_address {
        width: 75%;
        margin-left: 20px;
    }

    #city {
        width: 75%;
        margin-left: 86px;
    }

    #state {
        width: 75%;
        margin-left: 83px;
    }

    #zip_code {
        width: 25%;
        margin-left: 57px;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

}
